<title>CONSULTAR RESERVAS</title>
<br>

<form class="form-inline" class="container" id="Buscador">
    <input class="form-control mr-sm-2" name="filtroHabitacion" [(ngModel)]="searchText" type="text" placeholder="Buscar por # Habitacion" aria-label="Search">
</form><br><br>

<div class="table-responsive" id="rcorners1" >

<table class="table table-bordered" id="myTable" *ngIf='reservas && reservas.length'>
        <thead>
            <tr class="thead-dark">
                <th scope="col"><select [(ngModel)]="pageSize" style="background-color: rgb(52, 58, 64); border: 0px;">
                    <option selected>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option></select></th>
                <th scope="col">Cedula </th>
                <th scope="col">Número de habitación </th>
                <th scope="col">Fecha de la reserva </th>
                <th scope="col">Fecha de entrada </th>
                <th scope="col">CHECK IN </th>
                <th scope="col">CHECK OUT </th>
                <th scope="col">Fecha de salida </th>
                <th scope="col">Numero de días </th>
                <th scope="col">iva </th>
                <th scope="col">Subtotal </th>
                <th scope="col">Total </th>
                
            </tr>
        </thead>
        <tbody id="tbodypulsacion" class="table-primary">
            <tr *ngFor="let reserva of reservas |filtroReserva:searchText; let i = index ">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ reserva.cedula }}</td>
                <td>{{ reserva.idHabitacion }}</td>
                <td>{{ reserva.fechaReserva }}</td>
                <td>{{ reserva.fechaEntrada }}</td>
                <td><button [disabled]="estado" (click)="checkin(reserva);" class="btn btn-outline-secondary" style=" border-radius: 20px;">CHECK IN</button></td>
                <td><button [disabled]="estado" (click)="checkout(reserva);" class="btn btn-outline-secondary" style=" border-radius: 20px;">CHECK OUT</button></td>
                <td>{{ reserva.fechaSalida }}</td>
                <td>{{ reserva.dias }}</td>
                <td>{{ reserva.iva }}</td>
                <td>{{ reserva.subTotal }}</td>
                <td>{{ reserva.total }}</td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="reservas.length"></ngb-pagination>
</div>
<br><br><br><br><br><br><br>
